.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  font-size: large;
  color: var(--rc_tb_th);
  padding: 8px;
}

.table tr {
  border-bottom: 1px solid #313131;
  transition: background-color 250ms ease-in-out;
}

.table tr:hover {
  background-color: var(--rc_tb_tr);
  border-radius: 4px;
}

.link {
  font-weight: bolder;
  color: var(--link);
  transition: text-decoration 250ms ease-in-out;
}

.link:hover {
  text-decoration: underline;
}

.success {
  color: var(--success);
  font-weight: 600;
}

.failed {
  color: var(--failed);
  font-weight: 600;
}

@media (max-width: 768px) {
  .table {
    display: block;
    overflow-x: scroll;
  }

  .table td {
    padding: 10px;
  }
}
