.wrapper {
  position: relative;
}

.wrapper input {
  padding-right: 4rem;
  border-radius: 0.6rem;
}

.wrapper input:focus {
  outline: none;
  border: 1px solid #99a1af;
}

.wrapper button {
  position: absolute;
  inset-block: 0;
  right: 12px;
  font-size: 14px;
  color: #2b7fff;
}

.error_msg {
  font-weight: bold;
  font-size: 14px;
  margin-top: 8px;
  min-height: 20px;
}
