/* Modal.css */
.modal_backdrop {
  position: fixed; /* Fixed position to cover the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the content div */
  z-index: 1000; /* Ensure it's above other content */
}

.modal_content {
  background: #111111;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: 1001;
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.5rem;
  color: red;
}
