.link_btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;

  border: 1px solid var(--border);
  padding: 10px;
  border-radius: 0.5rem;
  color: var(--text);
  transition: all 300ms ease-in-out;
}

.link_btn:hover {
  background-color: var(--foreground);
  color: var(--background);
}
