/* Wrapper that holds the sidebar + toggle button */
.side_bar_wrapper {
  position: relative;
  height: 100vh;
  display: flex;
}

/* MAIN SIDEBAR BOX */
.side_bar {
  background: #030303;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid rgba(255, 255, 255, 0.1);

  /* Smooth open/close animation */
  transition: width 0.3s ease, padding 0.3s ease;
  overflow: hidden;
}

/* Collapsed width state (when open=false) */
.side_bar_collapsed {
  width: 4.5rem !important;
  justify-content: center;
}

/* Expanded width state (when open=true) */
.side_bar_expanded {
  width: 14rem !important;
}

/* Menu container */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: self-start;
  gap: 0.5rem;
  margin: inherit;
}

/* Individual menu items */
.menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;

  padding: 0.75rem;
  border-radius: 0.75rem;

  color: white;
  cursor: pointer;

  transition: background 0.2s ease;
}

.menu_item_collapsed {
  justify-content: center;
}

.menu_item:hover {
  background: rgba(255, 255, 255, 0.08);
}

/* Active tab */
.menu_item_active {
  background: rgba(111, 0, 170, 0.35) !important;
}

/* Footer section */
.sidebar_footer {
  padding: 1rem;
  text-align: center;
}

/* Horizontal line */
.divider {
  width: 80%;
  height: 1px;
  margin: 1rem auto;
  background: rgba(255, 255, 255, 0.15);
}

/* Toggle button */
.toggle_button {
  position: absolute;
  top: 3rem;
  right: 1rem;

  background: black;
  color: rgb(255, 255, 255);

  cursor: pointer;
  transition: all 0.2s ease;
  scale: 1.4;
}

.toggle_button_collapsed {
  right: 2rem;
}

.toggle_button:hover {
  scale: 1.5;
}
