@import "tailwindcss";

/* ------------------------------
   Base (Light Theme)
-------------------------------- */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --text: var(--color-black);

  --border: #000;

  /* SIDEBAR */
  --border_SideBar: #727272;
  --SideBar_menu_item: #6f00aa59;
  --SideBar_menu_item_hover: #0000001c;

  /* RECENT_EXECUTION_LOGS_TABLE */
  --rc_tb_th: #0f1012;
  --rc_tb_tr: #cdcdcd;

  --link: #006eff;

  --success: #22c55e;

  --failed: #ef4444;

  --spinner_border: #dfefff;
}

/* ------------------------------
   Dark Theme (controlled by next-themes)
-------------------------------- */
html.dark {
  --background: #0a0a0a;
  --foreground: #f1f1f1;
  --text: var(--color-white);
  --spinner_border: #1b2631;

  --border: #fff;

  /* SIDEBAR */
  --border_SideBar: #ffffff1a;
  --SideBar_menu_item: #6f00aa59;
  --SideBar_menu_item_hover: #ffffff14;

  /* RECENT_EXECUTION_LOGS_TABLE */
  --rc_tb_th: #9ca3af;
  --rc_tb_tr: #313131;
}

/* ------------------------------
   Tailwind Theme Tokens
-------------------------------- */
@theme {
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ------------------------------
   Global Styles
-------------------------------- */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
