.card {
  width: 100%;
  max-width: 500px;
  padding: 2.5rem;
  border: 1px solid #603c6a;
  border-radius: 1.5rem;
  backdrop-filter: blur(25px);
  box-shadow: 0 10px 30px #00000066;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #d6cbff;
}

.subtitle {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 1.8rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input {
  width: 100%;
  padding: 0.9rem 1rem;
  font-size: 0.95rem;

  border-radius: 0.6rem;
  outline: none;

  background: rgba(0, 0, 0, 0.45);
  color: white;
}

.form input:focus {
  border: 1px solid #99a1af;
}

.form input::placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.primaryBtn {
  margin-top: 0.5rem;
  width: fit-content;
  margin: 0 auto;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  background: #c0aeff;
  color: #000;
  cursor: pointer;
  transition: 0.2s ease;
}

.primaryBtn:hover {
  background: #766b9f;
}
