.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacing) * 10);
}

.container {
  width: 90%;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.jobDetails {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.jobDetails span {
  text-transform: capitalize;
}

.jobDetails p:nth-child(3) span,
.jobDetails p:nth-child(4) span,
.jobDetails p:nth-child(5) span {
  background: var(--span_nth_child);
  padding: 4px;
  border-radius: 5px;
}

.jobDetails .editLink {
  font-size: large;
  border: #06559e 1px solid;
  background-color: #06559e;
  color: var(--text);
  padding: 5px;
  border-radius: 10px;

  width: fit-content;
  transition: all 300ms ease-in-out;
}

.jobDetails .editLink:hover {
  background-color: transparent;
}

@media (max-width: 768px) {
  .jobDetails {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5px;
  }
}
